.from-instincthub{
  text-align: center;
  margin-top: 50px;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 20px
}
.from-instincthub h3 {
    color: #2c333a;
    font-size: 12px;
}
.from-instincthub img {
    width: 100px;
    -o-object-fit: cover;
    object-fit: cover;
}